/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    margin: 0 auto;  /* centers the <body> within the page */
    padding: 0;
    line-height: 26px;
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
}

/* Header h1 styles */
header h1 {
    text-align: center;
    height: 80px;
    line-height: 80px;
  }

/* Header styles */
header {
    text-align: center;
    background-color: black;
    color: white;
}


/* Navigation styles */
nav {
    text-align: center;
    padding: 0 auto;
    background-color: black;
    color: white;
}

nav a {
    color: white;  
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Section styles */
section {
    padding: 32px; /* Change padding to pixels */
}

h1, h2, h3 {
    margin-bottom: 16px; /* Change margin to pixels */
}

/* Project section styles */
.project {
    margin-bottom: 32px; /* Change margin to pixels */
}

.project img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    padding: 16px; /* Change padding to pixels */
    text-align: center;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline;
    margin-right: 16px; /* Change margin to pixels */
}

.social-links li a {
    color: white;
    text-decoration: none;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; 
}

.modal-content {
    background-color: white;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid gray;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-modal {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack navigation links vertically on small screens */
        height: auto; /* Auto height for better responsiveness */
        align-items: center; /* Center-align navigation links */
    }

    .nav-links {
        margin-top: 16px; /* Add spacing between navigation links on small screens */
    }

    .nav-links li {
        margin-right: 0; /* Remove right margin for navigation links on small screens */
    }
}

/* Dark mode styles */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: black;
}
