/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    margin: 0 auto;  /* centers the <body> within the page */
    padding: 0;
    line-height: 26px;
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

/* Header h1 styles */
header h1 {
    text-align: center;
    height: 80px;
    line-height: 100px;
}

/* Header styles */
header {
    text-align: center;
    background-color: black;
    color: white;
}

/* Navigation styles */
nav {
    text-align: center;
    padding: 0 auto;
    background-color: black;
    color: white;
}

li.inline {
    display: inline;
}

nav a {
    color: white;  
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Section styles */
section {
    padding: 26px; 
}

h1, h2, h3 {
    margin-bottom: 16px; 
}

ul.a {
    list-style-type: circle;
}

ul.a li {
    margin-bottom: 10px; /* Adjust the gap between lines */
}

/* Project section styles */
.project img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline;
    margin-right: 16px; /* Change margin to pixels */
}

.social-links li a {
    color: white;
    text-decoration: none;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; 
}

    .nav-links {
        margin-top: 16px; /* Add spacing between navigation links on small screens */
    }

    .nav-links li {
        margin-right: 0; /* Remove right margin for navigation links on small screens */
    }

/* Dark mode styles */

.dark-mode {
    background-color: black;
    color: white;
}

/* Style for the button */
#add-button {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the button on hover */
#add-button:hover {
    background-color: black; /* Darker shade of blue */
}
