/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    margin: 0 auto;  /* centers the <body> within the page */
    padding: 0;
    line-height: 26px;
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
}

/* Header h1 styles */
header h1 {
    text-align: center;
    height: 80px;
    line-height: 80px;
  }

/* Header styles */
header {
    text-align: center;
    background-color: black;
    color: white;
}


/* Navigation styles */
nav {
    display: flex; /* Use Flexbox to enable horizontal layout */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center-align items vertically */
    background-color: black;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex; /* Use Flexbox for navigation links */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-links li {
    margin-right: 10px; /* Adjust spacing between navigation items */
}

nav a {
    color: white;  
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Section styles */
section {
    padding: 32px; /* Change padding to pixels */
}

h1, h2, h3 {
    margin-bottom: 16px; /* Change margin to pixels */
}

/* Project section styles */
.project {
    margin-bottom: 32px; /* Change margin to pixels */
}

.project img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    padding: 16px; /* Change padding to pixels */
    text-align: center;
}
/* Dark mode styles */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: black;
}
